<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="SUPERKICKS ATC" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="SUPERKICKS ATC"
    />
    <meta name="theme-color" content="#92EBF7" />
    <title>SUPERKICKS ATC</title>
    <script>
      function runItUp() {
        console.log("ok");
      }
    </script>
  </head>
  <body onload="runItUp()">
    <div class="lines">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div id="main">
      <div class="fof pinkText">
        <h1 class="hover-grow">Adding to cart on SUPERKICKS...</h1>
        <form id="autoSubmitForm" method="POST" action="https://superkicks.in/wp-admin/admin-ajax.php">
          <!-- <input
            type="hidden"
            name="attribute_pa_shoe-size-uk"
            id="attribute_pa_shoe-size-uk"
            value="5"
          /> -->
          <input
            type="hidden"
            name="quantity"
            id="quantity"
            value="1"
          />
          <!-- <input
            type="hidden"
            name="add-to-cart"
            id="add-to-cart"
            value="152285"
          /> -->
          <!-- <input
            type="hidden"
            name="product_id"
            id="product_id"
            value="152285"
          /> -->
          <input
            type="hidden"
            name="action"
            id="action"
            value="shoptimizer_pdp_ajax_atc"
          />
          <input
            type="hidden"
            name="variation-id"
            id="variation-id"
            value="152287"
          />
          
        </form>
      </div>
    </div>
  </body>
  
  <script>
    function sleep(ms) {
      return new Promise((resolve) => setTimeout(resolve, ms));
    }

      
      function runItUp() {
        
        var pid=document.getElementById("variation-id");
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const pidvalue = urlParams.get('pid')
        pid.value = pidvalue;
        console.log(pid);
        var form = document.getElementById("autoSubmitForm");
        form.submit();
        
        sleep(300).then(() => {
            window.location = 'https:\/\/superkicks.in\/cart\/';
        });
        
      }
      
  </script>
  
</html>
